<fistcomponent [title]="featureTitle" [desc]="featureDesc" [data]="feature">
</fistcomponent>
<!-- Feature Grid Section -->
<feature-grid-section [title]="featureGridTitle" [desc]="featureGridDesc" [data]="featureGrids">
</feature-grid-section>

<!-- Parallax -->
<parallax-section></parallax-section>
<!-- Services Section -->
<services-section [title]="servicesTitle" [desc]="servicesDesc" [data]="services"></services-section>

<!-- Team Section -->
<team [title]="teamSectionTitle" [desc]="teamSectionDesc" [data]="teamMembers"></team>


<!-- Testimonial Section -->
<testimonial [title]="testimonialTitle" [desc]="testimonialDesc" [data]="testimonials"></testimonial>