.font-aw{
    li{
        text-align: center;
        i{
            font-size: 32px;
        }
        margin-bottom: 2rem;
        margin-top: 1rem;
        span{
            display: block;
        }
    }
}

.col-md-3{
    font-size: 18px;
    margin-top: 12px;
}

.col-md-4{
    font-size: 18px;
    margin-top: 12px;

}




