<div class="content p-0">
    <div class="login-wrapper">
        <div class="row m-0">
            <div class="col-lg-4 h-100-vh side-banner"
                style="background-image:url('assets/images/bg-login.jpg');background-position: center center; background-size: cover;">
                <div class="content px-5 text-center d-flex justify-content-center h-100">
                    <div class="align-self-center">
                        <img src="assets/images/logo-white.png" class="mb-4" alt="">
                        <h4 class="text-white">Get your Best Grades.</h4>
                        <p class="text-white">Find awesome tutors in London</p>
                        <a href="JavaScript:Void(0)" class="btn btn-success">Start Here</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 site-content">
                <div class="content">
                    <div class="row">
                        <div class="col-lg-7 mx-auto">
                            <div class="text-center mb-4">
                                <h2>Order now.</h2>
                                <p>Please fill in the details</p>
                            </div>
                            <div class="card bg-secondary shadow border-0">

                                <div class="card-body px-lg-8 py-lg-8">

                                    <form class="!was-validated" [formGroup]="postForm" (ngSubmit)="onSubmit()">
                                        <div class="form-group mb-3">
                                            <div class="input-group input-group-alternative">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"></span>
                                                </div>
                                                <input class="form-control" formControlName="Title" placeholder="title"
                                                    type="text">
                                            </div>
                                        </div>
                                        <div class="form-group mb-3">
                                            <div class="input-group input-group-alternative">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"></span>
                                                </div>
                                                <input class="form-control" formControlName="subject"
                                                    placeholder="subject" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group mb-3">
                                            <div class="input-group input-group-alternative">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"></span>
                                                </div>
                                                <textarea class="form-control" rows="4" formControlName="instructions"
                                                    placeholder="instructions" type="textarea"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group mb-3">
                                            <div class="input-group input-group-alternative">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"></span>
                                                </div>
                                                <input class="form-control" formControlName="postDate"
                                                    placeholder="date" type="date">
                                            </div>
                                        </div>
                                        <div class="form-group mb-3">
                                            <div class="input-group input-group-alternative">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"></span>
                                                </div>
                                                <input class="form-control" formControlName="dueDate"
                                                    placeholder="Due Date" type="date">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="input-group input-group-alternative">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"></span>
                                                </div>
                                                <input class="form-control" formControlName="fileAttachment"
                                                    placeholder="select" type="file">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group input-group-alternative">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"></span>
                                                </div>
                                                <input class="form-control" formControlName="cost" placeholder="cost"
                                                    type="number">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group input-group-alternative">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"></span>
                                                </div>
                                                <input class="form-control" formControlName="selectTutor"
                                                    placeholder="select a tutor" type="text">
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <button type="button" class="btn btn-primary mt-4">Order Now</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>