<div class="container">

    <div class="row">
        <div class="col-lg-6">
            <h2>Hire Our Top Talents</h2>
            <p class="new">Get The Best From The Best.</p>
            <p class="neww">If you want to see your best grade twice as fast, this is the your
                home have come and give .</p>

            <a [routerLink]="['/students/posts']" class="btn btn-success btn-lg">Order Your paper
                Now</a>
        </div>
        <div class="col-md-6">
            <div class="card bg-default shadow border-0">
                <img src="assets/images/fauxels.jpg" class="card-img-top">
                <blockquote class="card-blockquote">
                    <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95"
                        class="svg-bg">
                        <polygon points="0,52 583,95 0,95" class="fill-default"></polygon>
                        <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default"></polygon>
                    </svg>
                    <h4 class="display-3 font-weight-bold text-white">Our Goals include;</h4>
                    <p class="lead text-italic text-white">Development of high-quality products,
                        Writing authentic, non-plagiarized papers and
                        Timely delivery of customers’ orders.</p>
                </blockquote>
            </div>
        </div>
    </div>
</div>