<div class="parallax" data-background="assets/images/slider-parallax.jpg">
   <!-- Infobox -->
   <div class="text-content white-font block-space">
      <div class="container">

         <div class="row">
            <div class="col-lg-6 col-sm-8">
               <h2>Hire Our Top Talents</h2>
               <p class="new">Over 230 writers have been working with us for over 5 years, come and give us a try, you
                  will never
                  regret it.</p>
               <a [routerLink]="['/students/posts']" class="btn btn-success btn-lg">Order Now</a>
            </div>
         </div>
      </div>
   </div>
   <!-- Infobox / End -->
</div>