<div class="main-wrapper">
   <!--    <title-bar title="About Us" subtitle="Explore your search places"></title-bar>
 -->
   <div class="content pt-0">
      <div class="about-wrapper">
         <div class="block-space">
            <div class="container">
               <div class="row">
                  <div class="col-lg-6 col-md-10 ml-auto mr-auto">
                     <div class="section-title text-center mb-5">
                        <h2>Three Simple Step To Get Your Assignment</h2>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-lg-4 col-md-12 mb-4">
                     <div class="about-info">
                        <div class="about-num-box">
                           <div class="about-icon">
                              <span><i class="fa fa-bookmark"></i></span>
                           </div>
                           <div class="about-highlight">01</div>
                        </div>
                        <div class="about-desc">
                           <h4>Make an order</h4>
                           <p class="mb-0">Enter your paper requirements such as deadline and paper format</p>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-12 mb-4">
                     <div class="about-info">
                        <div class="about-num-box">
                           <div class="about-icon">
                              <span><i class="fa fa-rocket"></i></span>
                           </div>
                           <div class="about-highlight">02</div>
                        </div>
                        <div class="about-desc">
                           <h4>Engage your writer</h4>
                           <p class="mb-0">Select your tutor and keep chatting him as your paper is being worked on</p>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-12 md-mt-5 mb-4">
                     <div class="about-info">
                        <div class="about-num-box">
                           <div class="about-icon">
                              <span><i class="fa fa-check"></i></span>
                           </div>
                           <div class="about-highlight">03</div>
                        </div>
                        <div class="about-desc">
                           <h4>Deliver</h4>
                           <p class="mb-0">Last step is to pay and get your paper and don't forget to leave a review for
                              the tutor."</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="block-space bg-secondary">
            <div class="container">
               <div class="row row-grid align-items-center">
                  <div class="col-md-6">
                     <div class="card bg-default shadow border-0">
                        <img src="assets/images/about-image.jpg" class="card-img-top">
                        <blockquote class="card-blockquote">
                           <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95"
                              class="svg-bg">
                              <polygon points="0,52 583,95 0,95" class="fill-default"></polygon>
                              <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default"></polygon>
                           </svg>
                           <h4 class="display-3 font-weight-bold text-white">Our Goals include;</h4>
                           <p class="lead text-italic text-white">Development of high-quality products,
                              Writing authentic, non-plagiarized papers and
                              Timely delivery of customers’ orders.</p>
                        </blockquote>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="pl-md-5">
                        <div class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle mb-5">
                           <i class="fa fa-info"></i>
                        </div>
                        <h3>About Us</h3>
                        <p class="lead">Excellent solutions is an academic writing assistance company. We provide our
                           help to the numerous clients looking for a professional writing service.</p>
                        <p class="lead"> Our company was founded in 2009, when academic writing organizations just
                           started to emerge.
                           Since that time, we have grown from a small startup into a considerable enterprise</p>
                        <p class="lead">We seek to gain our writers’ support in achieving these goals through teamwork.
                        </p>
                        <a href="#" class="font-weight-bold text-warning mt-5">read more</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- Team Section -->
         <!--          <team [title]="teamSectionTitle" [desc]="teamSectionDesc" [data]="teamMembers"></team>
 -->
         <div class="">
            <div class="container">
               <div class="card bg-gradient-warning shadow-lg border-0">
                  <div class="p-5">
                     <div class="row align-items-center">
                        <div class="col-lg-8">
                           <h3 class="text-white"> Excellentsolutions services include;</h3>
                           <p class="lead text-white mt-3"> essay writing, thesis writing, Case Study,
                              Creative Writing,
                              Book/Movie Review,
                              Annotated Bibliography, dissertations and research
                              writing. What are you waiting? our professionals are already waiting for you.</p>
                        </div>
                        <div class="col-lg-3 ml-lg-auto">
                           <a href="#" class="btn btn-lg btn-block btn-white">Order Now</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>