<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Subject</th>
            <th scope="col">Cost</th>
            <th scope="col">Date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>essay1</td>
            <td>chemistry</td>
            <td>70</td>
            <td>12/12/2020</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>essay2</td>
            <td>history</td>
            <td>50</td>
            <td>21/2/2021</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>JavaScript</td>
            <td>programming</td>
            <td>40</td>
            <td>13/9/2021</td>
        </tr>
    </tbody>
</table>